/*
html {
  background-color: #282c34;

}

.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
}

.container {
border: 2px solid palegreen;
border-radius: 25px ;
margin: 25px;
}

.ul {
padding: 4px;
}
*/
